.page-template-about {
  &.page {
    overflow: auto;
  }

  .body-wrapp {
    padding-top: 145px;
    overflow-x: clip;
    max-width: 100vw;
    position: relative;

    @include media-mobile {
      padding-top: 64px;
    }
  }

  p {
    margin: 0;
  }

  // .title {
  //   transform: none;
  //   opacity: 1;
  // }

  .section-team .splide-about-team .section-team__items-wrapp {
    @include media-width-small {
      width: 30.26vw;
      height: 30.26vw;
    }

    @include media-tablet {
      width: calc((100vw - 70px) / 2);
      height: calc((100vw - 70px) / 2);
    }

    @include media-mobile {
      width: 61vw;
      height: 61vw;
    }

    @include media-mobile-horizontal {
      width: 37vw;
      height: 37vw;
    }
  }

  .section-team .cube-item.front-cube .front-cube-content {
    @include media-mobile-small-360 {
      padding: 10px 14px;
    }
  }

  &.no-scroll {
    height: 100vh;
    overflow: hidden;
  }
}

.page-about-balls {
  position: absolute;
  top: -0.5%;
  right: -6%;

  @include media-tablet {
    position: absolute;
    top: -1%;
    right: 42%;
    transform: translate(100%, 0);
  }

  @include media-mobile {
    top: -0.5%;
  }

  &__large {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 645px;
    height: 645px;
    background: linear-gradient(180deg, #00ffff 0%, #2366b5 100%);
    mix-blend-mode: color-dodge;
    opacity: 0.1;
    filter: blur(60px);
    backdrop-filter: blur(68.8657px);
    border-radius: 50%;

    @include media-mobile-500 {
      height: 500px;
    }

    @include media-mobile {
      width: 215px;
      height: 215px;
    }
  }

  &__large-inner-ellipse {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) matrix(-1, 0, 0, 1, 0, 0);
    background: radial-gradient(
        35.94% 36.06% at 56.79% 55.92%,
        #00ffff 47.34%,
        rgba(0, 203, 232, 0.732548) 67.65%,
        rgba(0, 158, 212, 0.5) 100%
      );
    opacity: 0.6;
    filter: blur(50px);
    //animation: inner-circle 15s linear infinite;

    @include media-mobile {
      width: 135px;
      height: 135px;
      filter: blur(30px);
      top: 65%;
    }
  }

  &__large-inner {
    width: 645px;
    height: 645px;
    background: linear-gradient(209.12deg, cyan 10.92%, #2366b5 28.03%);
    mix-blend-mode: soft-light;
    backdrop-filter: blur(40px);
  }
}

.section-about-hero {
  padding: 128px 0 100px 0;

  @include media-laptop {
    padding: 90px 0;
  }

  @include media-mobile {
    padding-bottom: 0;
  }

  .title-large {
    animation: main_animation_title 1.5s ease 2s forwards;
  }

  &__text {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;

    @include main-animation-small;
    animation: main_animation 1.5s ease 3s forwards;

    @include media-mobile {
      font-size: 16px;
      line-height: 1.5;
    }
  }

  &__content {
    max-width: 730px;
    width: 100%;
    margin: 0 auto -20px;
    position: relative;
    z-index: 2;
  }

  &__media {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
    z-index: -1;

    @include media-mobile-horizontal {
      display: none;
    }
  }

  .lottie-people-inner {
    width: 100vw;

    @include media-mobile {
      width: 180vh;
    }
  }

  .lottie-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $main-color-bg;
    transition: opacity 0.3s;
  }
}

.section-about-our-story {
  padding: 100px 0 200px;

  @include media-laptop {
    padding: 80px 0;
  }

  &.animation {
    .section-about-our-story__text {
      will-change: transform, opacity;
      transform: translate3d(0px, 2em, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg, 4deg);
      transform-style: preserve-3d;
      animation: main_animation 1.5s ease 1s forwards;
    }
  }

  .title {
    @include media-mobile {
      margin-bottom: 45px;
    }
  }

  &__content {
    max-width: 730px;
    width: 100%;
    margin: auto;

    @include media-tablet {
      padding-right: 0;
    }
  }

  &__text {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
    opacity: 0;
  }
}

.section-our-values {
  position: relative;
  margin-bottom: -95vh;

  @include media-height-min-820 {
    margin-bottom: -50vh;
  }

  @include media-height-600 {
    margin-bottom: -120vh;
  }

  @include media-laptop {
    margin-bottom: 0;
  }

  &.animation {
    .section-our-values__item {
      @include media-laptop {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .section-our-values-scene-trigger-start {
    height: 5px;

    @include media-laptop {
      display: none;
    }
  }

  .title {
    padding-bottom: 20px;
    margin-bottom: 0;
    width: 100%;
    transition: all 0.3s;
    position: relative;
    z-index: 2;
    background-color: #020102;

    &.body-firefox {
      background-color: #060606;
    }

    @include media-mobile {
      padding: 26px 0 0;
      margin: 0;
    }
  }

  &__item-number {
    min-width: 150px;

    @include media-laptop {
      min-width: 60px;
    }

    .item-number {
      font-family: "Krona One", sans-serif;
      font-size: 80px;
      font-weight: 400;
      line-height: 1;
      text-align: center;
      background-image: linear-gradient(
        141.8deg,
        #00ffff 14.44%,
        #01c4e5 86.47%
      );
      filter: grayscale(1);
      -webkit-background-clip: text;
      -webkit-text-stroke: 4px transparent;
      color: $main-color-bg;
      word-wrap: normal;

      @include media-laptop {
        font-size: 32px;
        filter: grayscale(0);
        padding-right: 5px;
      }
    }
  }

  &__items {
    display: flex;
    gap: 50px;
    align-items: start;
    position: relative;

    @include media-mobile {
      padding-top: 70px;
    }
  }

  &__items-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;

    @include media-laptop {
      display: none;
    }

    &:after, &:before {
      content: '';
      position: absolute;
      top: -1px;
      right: -50vw;
      left: -50vw;
      bottom: auto;
      background: linear-gradient(180deg, #020102 0%, rgba(2, 1, 2, 0) 100%);
      z-index: 1;
      height: 30%;
    }

    &:before {
      top: auto;
      bottom: 0;
      background: linear-gradient(180deg, rgba(2, 1, 2, 0) 0%, #020102 100%);
    }
  }

  &__item {
    max-width: 915px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    transition: opacity 0.6s;

    @include media-laptop {
      opacity: 0;
      transform: translateY(120%);
      transition: opacity 2s cubic-bezier(0.22, 0.17, 0, 0.98),
      transform 2s cubic-bezier(0.22, 0.17, 0, 0.98);
    }

    @include media-mobile {
      gap: 15px;
      min-width: calc(100vw - 30px);
    }
  }

  @for $i from 0 through 18 {
    .section-our-values__item:nth-child(#{$i}) {
      @include media-laptop {
        transition-delay: #{$i * 0.2 + 0.5}s;
      }
    }
  }

  &__items-list {
    @include media-laptop {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
    }
  }

  &__item-title {
    background-image: linear-gradient(141.8deg, cyan 14.44%, #01c4e5 86.47%);
    filter: grayscale(1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 15px;
    transition: all 0.3s;

    @include media-laptop {
      filter: grayscale(0);
    }
  }

  &__item-text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 40px;
    color: $color-grey;
    transition: all 0.3s;

    @include media-laptop {
      font-size: 14px;
      line-height: 1.57;
      margin-bottom: 25px;
      color: $color-text;
    }
  }

  &__content {
    max-width: 900px;
    width: 100%;
    margin: auto;
  }
}

.section-about-team {
  z-index: 2;

  //.item-photo {
  //  opacity: 1;
  //  transform: translateY(0);
  //}

  //.item-photo {
  //  opacity: 0;
  //  transform: translateY(120%) scale(0.99)!important;
  //}
  //
  //&.animation {
  //  .item-photo {
  //    opacity: 1;
  //    transform: translateY(0) scale(0.99)!important;
  //  }
  //}

  .title {
    // opacity: 1;
    // transform: translate3d(0px, 0, 0px) scale3d(1, 1, 1) rotateX(0deg)
    //   rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);

    @include media-mobile {
      margin-bottom: 46px;
      line-height: 1.2;
    }
  }

  .splide__slide__row:first-child {
    margin-bottom: 20px;
  }

  .splide__arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    @include media-mobile {
      flex-direction: column;
    }

    .splide__buttons {
      display: flex;
      align-items: center;
      gap: 20px;

      @include media-mobile {
        display: none;
      }
    }

    .splide__arrow {
      position: static;
      width: 50px;
      height: 50px;
      border-radius: 0;
      transition: all 1s;
      transform: translateY(0);
      padding: 1px;
      background: transparent;

      &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(141.8deg, #00ffff 14.44%, #01c4e5 86.47%);
        z-index: -1;
        opacity: 0;
        transition: opacity 0.3s;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: $color-border-second;
        z-index: -1;
      }

      &:first-child {
        .splide__arrow-svg-hover {
          transform: rotate(0);
        }
      }

      .splide__arrow-inner {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: $main-color-bg;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s;
        transform: rotate(180deg);
      }

      .splide__arrow-svg-hover {
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s;
        transform: rotate(180deg);
      }
    }
  }

  .section-team__items {
    padding: 2px !important;
    transition: opacity 1s linear 1.5s;
  }

  .section-team__card-team-description {
    position: static !important;
  }

  .front-cube-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .splide__list {
    padding: 2px;
  }
}

.section-about-hq {
  &.animation {
    .section-about-hq__title {
      opacity: 1;
      transform: translateY(0);
    }

    .section-about-hq__interactive {
      opacity: 1;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 115px;
    margin-top: -50px;

    @include media-mobile {
      padding-top: 90px;
      margin-top: -20px;
    }
  }

  &__interactive-wrapper {
    position: relative;
  }

  &__interactive-height {
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;

    @include media-height-1000 {
      height: 100vh;
    }

    @include media-height-780 {
      max-width: 1200px;
    }

    @include media-mobile {
      height: 100%;
    }
  }

  &__interactive {
    flex: 1;
    width: 100%;
    margin: auto;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease 0.7s;

    .image-globe-active, .image-globe-active-dots {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
    }

    img {
      object-fit: contain;
    }

    .pin {
      width: 100px;
      height: 100px;
      opacity: 0;
      transition: none;

      @include media-mobile {
        width: 50px;
        height: 50px;
      }

      &__icon {
        width: 20px;
        height: 20px;
      }

      &__light {
        width: 20px;
        height: 20px;
      }

      .pin-bato {
        width: 10px;

        @include media-mobile {
          width: 7px;
        }
      }

      &__ellipse-small, &__ellipse-big {
        width: 100px;
        height: 100px;
      }

      img {
        object-fit: contain;
      }
    }

    .pin-fr {
      top: calc(42%);
      left: calc(9.5%);

      @include media-mobile {
        top: calc(41%);
        left: calc(6.5%);
      }

      @include media-mobile-500 {
        top: calc(41%);
        left: calc(6.5%);
      }
    }

    .pin-kh {
      top: 36%;
      right: 7%;

      @include media-laptop {
        top: 34%;
        right: 6%;
      }

      @include media-tablet {
        top: 33%;
        right: 5%;
      }

      @include media-mobile {
        top: 36%;
        right: 7%;
      }

      @include media-mobile-500 {
        top: 34%;
        right: 5%;
      }

      @include media-mobile-380 {
        top: 32%;
        right: 4%;
      }
    }
  }

  &__content {
    max-width: 885px;
    width: 100%;
    margin: 0 auto 60px;

    @include media-laptop {
      margin: 0 auto 40px;
    }
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.31;
    text-align: center;
    color: #fff;
    opacity: 0;
    transform: translateY(-30%);
    transition: opacity 1s linear, transform 1s linear;

    @include media-height-1000 {
      font-size: 3.2vh;
      max-width: 90vh;
      margin: auto;
    }

    @include media-mobile {
      font-size: 18px;
      line-height: 1.333;
    }
  }
}

.section-about-family {
  padding: 50px 0 100px;
  margin-bottom: -400px;

  @include media-height-1000 {
    padding: 200px 0 100px;
  }

  @include media-mobile {
    margin-bottom: 0;
    padding: 50px 0;
  }

  &.animation {
    .section-about-family__title {
      opacity: 1;
    }
  }

  @include media-mobile-horizontal {
    display: none;
  }

  &__title {
    text-align: center;
    opacity: 0;
    transition: opacity 0.7s ease 1s;
    transform: none;
    color: $color-white;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.45;
    margin-bottom: 50px;
    text-transform: uppercase;
    @include oswald;

    @include media-laptop {
      margin-bottom: 30px;
      font-size: 40px;
    }

    @include media-mobile {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 55px;
    }

    h2 {
      font-size: inherit;
      font-weight: inherit;
    }

    @include media-mobile {
      margin-bottom: 48px;
    }
  }

  &__images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    transform: translateY(-400px);
    @extend %sectionAboutHqMap;

    @include media-laptop {
      gap: 20px;
      transform: translateY(-200px);
    }

    &.family-images-desktop {
      @include media-mobile {
        display: none;
      }
    }

    &.family-images-mobile {
      display: none;

      @include media-mobile {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        transform: translateY(0);
      }

      .section-about-family__image {
        &:nth-child(1) {
          transform: rotate(-5deg) translate(17vw, 7vw);
        }

        &:nth-child(2) {
          transform: rotate(5deg) translate(-17vw, 7vw);
        }

        &:nth-child(3) {
          transform: rotate(-5deg) translate(21vw, -39vw);
        }

        &:nth-child(4) {
          transform: rotate(5deg) translate(-21vw, -40vw);
        }

        &:nth-child(5) {
          transform: rotate(-5deg) translate(25vw, -86vw);
        }

        &:nth-child(6) {
          transform: rotate(5deg) translate(-25vw, -87vw);
        }

        &:nth-child(7) {
          transform: rotate(0deg) translate(0, -141vw);
        }

        &.default-position {
          transform: rotate(0) translate(0, 0);
        }
      }
    }

    &.active {
      transform: translateY(0);

      .section-about-family__image {
        transform: translate(0%, 0%) rotate(0) !important;
      }

      .section-about-family__image-bg {
        background-color: rgba(0, 0, 0, 0.35) !important;
      }
    }
  }

  &__images-column {
    max-width: calc((100% - 100px) / 3);
    width: 400px;

    @include media-laptop {
      max-width: calc((100% - 40px) / 3);
    }

    &:nth-child(1) {
      .section-about-family__image {
        &.image-0 {
          transform: translate(calc(100% + 50px), calc(50% + 50px)) rotate(2deg);

          @include media-laptop {
            transform: translate(calc(100% + 20px), calc(50% + 20px));
          }
        }
        &.image-1 {
          transform: translate(100%, -51%) rotate(-5deg);
        }
      }
    }

    &:nth-child(2) {
      .section-about-family__image {
        &.image-0 {
          transform: translate(0, calc(50% + 250px));

          @include media-laptop {
            //transform: translate(0, calc(50% + 60px));
            transform: translate(0, calc(50% + 17vw));
          }
        }
        &.image-2 {
          transform: translate(0, calc(-50% - 250px));

          @include media-laptop {
            //transform: translate(0, calc(-50% - 60px));
            transform: translate(0, calc(-50% - 17vw));
          }
        }
      }
    }

    &:nth-child(3) {
      .section-about-family__image {
        &.image-0 {
          transform: translate(-100%, calc(50% + 50px)) rotate(5deg);

          @include media-laptop {
            transform: translate(-100%, calc(50% + 20px)) rotate(5deg);
          }
        }

        &.image-1 {
          transform: translate(calc(-100% - 50px), calc(-50% - 50px));

          @include media-laptop {
            transform: translate(calc(-100% - 20px), calc(-50% - 20px));
          }

          .section-about-family__image-bg {
            background-color: rgba(0, 0, 0, 0.35);
          }
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__images-column-inner {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @include media-laptop {
      gap: 20px;
    }
  }

  &__image {
    max-width: 400px;
    height: 400px;
    position: relative;
    //@extend %sectionAboutHqMap;

    @include media-laptop {
      height: auto;
    }

    @include media-mobile {
      width: calc((100vw - 40px) / 2);
      height: calc((100vw - 40px) / 2);
    }

    &:last-child {
      @include media-mobile {
        width: calc((100vw / 2) - 20px);
        height: calc((100vw / 2) - 20px);
      }
    }
  }

  &__image-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    @extend %sectionAboutHqMap;
  }
}

.section-about-follow {
  padding: 200px 0;

  @include media-laptop {
    padding: 100px 0;
  }

  @include media-tablet {
    padding: 0 0 50px;
  }

  &.animation {
    .title {
      opacity: 1;
    }
  }

  .title {
    opacity: 0;
    line-height: 1.25;
    transition: opacity 0.7s ease 1s;

    @include media-mobile {
      margin-bottom: 25px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 130px;
    flex-wrap: wrap;

    @include media-laptop {
      gap: 50px;
    }

    @include media-tablet {
      gap: 0;
    }
  }

  &__image {
    max-width: 40.72%;
    height: 485px;
    width: 100%;
    opacity: 0;
    transition: opacity 2.5s ease;

    @include media-tablet {
      max-width: 100%;
    }

    @include media-mobile {
      transform: translate(-70px, -14px);
    }

    @include media-mobile-500 {
      margin-bottom: -50px;
    }

    @include media-mobile-horizontal {
      display: none;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @include media-mobile {
      gap: 16px;
    }
  }

  &__content {
    max-width: 500px;
  }

  &__link {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 2.5s ease;

    @include media-mobile {
      font-size: 12px;
    }

    a {
      color: $color-main;
      transition: color 0.3s, border-color 0.3s;
      border-bottom: 1px solid transparent;
    }
  }

  &.animation {
    .section-about-follow__image {
      opacity: 1;
    }

    .section-about-follow__link {
      opacity: 1;
    }
  }
}

.section-about-ready {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    padding: 100px 0;
    border-top: $color-border-second solid 1px;
    border-bottom: $color-border-second solid 1px;

    @include media-mobile {
      padding: 50px 0;
      gap: 20px;
    }
  }

  &.animation {
    .button-default {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .title {
    margin: 0;

    @include media-mobile {
      max-width: 260px;
    }
  }

  .button-default {
    transform: translateY(-10%);
    opacity: 0;
    transition: opacity 0.7s ease 1s, transform 0.7s ease 1s, border-color 0.7s ease;
    border-bottom: 1px solid transparent;
  }

  .button-default__link {
    font-size: 19px;
  }

  .button-big-color {
    padding: 5px 34px 5px 0;
  }
}

.section-about-reviews {
  &.animation {
    .section-about-reviews__text {
      will-change: transform, opacity;
      transform: translate3d(0px, 2em, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg, 4deg);
      transform-style: preserve-3d;
      animation: main_animation 1.5s ease 0.7s forwards;
    }

    .section-about-reviews__rating {
      opacity: 1;
    }

    .reviews-items {
      opacity: 1;
    }
  }

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  margin-top: -50px;

  @include media-laptop {
    padding-top: 170px;
    margin-top: 0;
    height: auto;
  }

  @include media-tablet {
    padding-bottom: 100px;
  }

  @include media-mobile {
    height: auto;
    padding: 50px 0;
  }

  @include media-mobile-horizontal {
    margin-bottom: 50px;
    height: auto;
  }

  .title {
    margin-bottom: 30px;
    text-align: center;

    @include media-height-800 {
      margin-bottom: 10px;
    }

    @include media-mobile {
      margin-bottom: 25px;
    }

    @include media-mobile-and-height-750 {
      margin-bottom: 15px;
    }
  }

  &__text {
    max-width: 590px;
    width: 100%;
    margin: 0 auto 28px;
    font-size: 20px;
    line-height: 1.6;
    opacity: 0;
    text-align: center;

    @include media-height-800 {
      font-size: 14px;
      margin-bottom: 20px;
    }

    @include media-mobile {
      font-size: 16px;
      line-height: 1.5;
    }

    @include media-mobile-and-height-750 {
      font-size: 12px;
      line-height: 1.3;
      margin-bottom: 20px;
    }
  }

  &__rating {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto 38px;
    opacity: 0;
    transition: opacity 0.7s ease 1s;

    @include media-height-800 {
      margin: 0 auto 20px;
    }

    @include media-height-600 {
      display: none;
    }

    @include media-mobile {
      display: flex;
    }

    @include media-mobile-and-height-750 {
      margin-bottom: 20px;
    }

    img {
      @include media-height-800 {
        height: 20px;
      }

      @include media-mobile {
        height: 30px;
      }
      @include media-mobile-and-height-750 {
        max-height: 3.5vh;
      }
    }
  }

  &__rating-number {
    background: linear-gradient(141.8deg, #00FFFF 14.44%, #01C4E5 86.47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }

  .reviews-items {
    opacity: 0;
    transition: opacity 0.7s ease 1s;
  }

  &__rating-inner,
  &__rating-image {
    transition: opacity 0.3s;
  }

  &__rating-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__rating-stars {
    position: relative;
    display: block;

    .rating-stars-color {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &__items {
    position: relative;

    @include media-height-500 {
      display: flex;
      gap: 30px;
      //overflow-x: scroll;
    }

    @include media-laptop {
      display: flex;
      gap: 40px;
      //overflow-x: scroll;
      width: 100vw;
      margin: 0 -15px 15px;
      padding: 0 15px 30px;
    }

    @include media-mobile {
      gap: 20px;
    }
  }

  &__item {
    max-width: 700px;
    width: 100%;
    margin: auto;
    padding: 1px;
    background: linear-gradient(
      180deg,
      #b9b9b9 0%,
      rgba(102, 102, 102, 0) 100%
    );
    position: relative;

    @include media-height-820 {
      max-width: 850px;
    }

    @include media-laptop {
      flex: 1 0 auto;
      max-width: 70vw;
      margin: unset;
    }

    @include media-mobile {
      max-width: 450px;
    }

    @include media-height-500 {
      min-width: 400px;
    }

    &:not(:first-child) {
      position: absolute;
      //top: 100vh;
      top: 0;
      transform: translateY(100vh);
      left: 0;
      right: 0;
      z-index: 1;

      @include media-height-500 {
        position: relative;
        //top: 0;
        transform: translateY(0);
      }

      @include media-laptop {
        position: relative;
        //top: 0;
        transform: translateY(0);
      }
    }

    .reviews-item-bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        180deg,
        #06ffff 0%,
        rgba(6, 255, 255, 0) 133.17%
      );
    }

    .quotation-mark {
      display: block;
      margin: 0 auto 30px;
      font-family: "Montserrat", sans-serif;
      font-size: 80px;
      font-weight: 600;
      line-height: 1;
      text-align: center;
      color: $color-main;
      max-height: 40px;

      @include media-height-800 {
        margin: 0 auto 20px;
        max-height: 16px;
        font-size: 60px;
      }

      @include media-mobile {
        font-size: 50px;
        max-height: 26px;
        margin: 0 auto 10px;
      }

      @include media-mobile-and-height-750 {
        font-size: 6vh;
        margin: 0 auto 1.2vh;
        max-height: 3vh;
      }
    }
  }

  &__item-content {
    padding: 45px;
    background-color: $main-color-bg;
    position: relative;

    @include media-height-800 {
      padding: 20px;
    }

    @include media-laptop {
      height: 100%;
    }

    @include media-mobile {
      padding: 25px 15px;
    }

    @include media-mobile-and-height-750 {
      padding: 2.2vh;
    }
  }

  &__item-text {
    display: block;
    font-family: "Poppins", sans-serif;
    margin: 0 auto 30px;
    max-width: 560px;
    width: 100%;
    max-height: 150px;
    min-height: 120px;
    overflow-y: auto;
    font-size: 16px;
    padding-right: 4px;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;

    @include media-height-800 {
      font-size: 14px;
      min-height: 70px;
    }

    @include media-mobile {
      margin: 0 auto 16px;
      padding: 0 6px;
      font-size: 14px;
      line-height: 1.57;
      font-weight: 300;
      height: 80px;
    }

    @include media-mobile-horizontal {
      font-size: 12px;
      margin: 0 auto 10px;
    }

    @include media-mobile-and-height-750 {
      font-size: 1.8vh;
      line-height: 1.3;
      margin: 0 auto 1.2vh;
    }
  }

  &__item-name {
    display: block;
    padding-top: 30px;
    border-top: 1px solid $color-text;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    color: $color-main;

    @include media-mobile {
      padding-top: 15px;
      font-size: 18px;
    }

    @include media-mobile-and-height-750 {
      font-size: 14px;
    }
  }
}


.custom-scrollbar {
  @include media-laptop {
    overflow: auto;
  }

  .scroll-content {
    @include media-laptop {
      display: flex;
      gap: 40px;
    }
  }
}

body.windows {
  .lottie-mask {
    background-color: $main-color-bg-windows;
  }
}