body {
  background-color: $main-color-bg;
  position: relative;
  color: $color-text;
  @include poppins;
  font-weight: 300;

  .body-wrapp.home {
    overflow-x: clip;
  }

  &.home .body-wrapp {
    opacity: 0;
  }

  .site-main {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      // background: repeat url("./images/noise.png");
    }
  }

  section {
    //pin
    .pin,
    .pin-bg {
      position: absolute;
      top: 41%;
      right: 44.5%;
      z-index: 2;
      width: 90px;
      height: 90px;
      @extend %sectionAboutHqMap;

      @include media-mobile {
        width: 10px;
        height: 10px;
      }

      &__ellipse-big {
        width: 190px;
        height: 190px;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: size-pin 2s linear alternate-reverse infinite;

        @include media-mobile {
          width: 40px;
          height: 40px;
        }
      }

      &__ellipse-small {
        width: 170px;
        height: 170px;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: size-pin 2s linear 1s alternate-reverse infinite;

        @include media-mobile {
          width: 30px;
          height: 30px;
        }
      }

      &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-mobile {
          width: 10px;
          height: 10px;
        }

        .pin-bato {
          width: 21px;

          @include media-mobile {
            width: 4px;
          }
        }
      }

      &__light {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        background: rgba(0, 255, 255, 0.6);
        filter: blur(40px);

        @include media-mobile {
          width: 20px;
          height: 20px;
        }
      }

      //.pin-bg__big, .pin-bg__small {
      //    width: 80px;
      //    height: 80px;
      //    position: absolute;
      //    z-index: 2;
      //    top: 50%;
      //    left: 50%;
      //    transform: translate(-50%, -50%);
      //    animation: size-pin 2s linear alternate-reverse infinite;
      //}
      //
      //.pin-bg__small {
      //    animation: size-pin 2s linear 1s alternate-reverse infinite;
      //}
    }

    .pin-dots {
      position: absolute;
      left: 55%;
      right: 0;
      bottom: 0;
      //top: 5%;
      top: 6%;
      width: 46vw;
      height: 93%;
      clip-path: inset(0 100% 0 0);
      @extend %sectionAboutHqMap;

      @include media-height-820 {
        top: -5%;
      }

      &__dot {
        width: 8px;
        height: 8px;
        position: absolute;
        border-radius: 50%;
        background: linear-gradient(141.8deg, #00ffff 14.44%, #01c4e5 86.47%);
        box-shadow: 0 0 15px #00ffff;

        @include media-mobile {
          width: 3px;
          height: 3px;
        }

        &.dot-1 {
          top: 31%;
          left: 14.5%;
        }

        &.dot-2 {
          top: 32%;
          left: 23%;
        }

        &.dot-3 {
          top: 32%;
          left: 35.7%;
        }

        &.dot-4 {
          top: 28%;
          left: 47%;
        }

        &.dot-5 {
          top: 48%;
          left: 45.5%;
        }

        &.dot-6 {
          top: 32%;
          left: 54%;
        }

        &.dot-7 {
          top: 32%;
          left: 66.6%;
        }
      }
    }
  }

  &.body-firefox {
    .circle-about-big {
      transform: translate(0, 0);
    }
  }
}

html {
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background-color: darkgrey;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $color-main;
    border-radius: 3px;
  }

  .scrollbar-track {
    background-color: darkgrey;
    height: 4px;
  }

  .scrollbar-track-y {
    width: 4px;
    height: 100%;
    background-color: darkgrey;
  }

  .scrollbar-thumb {
    background-color: $color-main;
    border-radius: 3px;
    height: 4px;
  }

  .scrollbar-thumb-y {
    width: 4px;
  }
}

.section-banner {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  visibility: hidden;

  @include media-laptop {
    height: 100vh;
  }

  video {
    visibility: hidden;
  }

  .subtitle {
    @include font-subtitle;
  }

  &__bg {
    top: 0;
    right: 0;
    position: absolute;
    max-width: 49%;
    max-height: 100vh;
    display: flex;
    align-items: flex-end;
    height: 100vh;

    @include media-laptop {
      align-items: flex-start;
      max-width: 100%;
    }

    video {
      max-width: 100%;
      height: 90vh;

      @include media-laptop {
        display: none;
      }
    }
  }

  &__bg-mobile {
    display: none;

    @include media-laptop {
      display: block;
      max-width: 62vh;
    }
  }

  &__description {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
    pointer-events: none;

    @include media-laptop {
      height: 90vh;
      flex-direction: column;
      justify-content: flex-start;
    }

    @include media-mobile {
      height: 76vh;
    }

    @include media-mobile-horizontal {
      height: 90vh;
    }
  }

  &__button {
    position: absolute;
    bottom: 50px;
    pointer-events: all;

    @include media-laptop {
      margin-top: auto;
    }
  }

  .headline {
    @include media-laptop {
      margin-top: 50%;
    }

    @include media-laptop-horizontal {
      margin-top: 27%;
    }

    @include media-mobile {
      margin-top: 60%;
    }

    @include media-mobile-small-360 {
      margin-top: 50%;
    }

    @include media-mobile-horizontal {
      margin-top: 14%;
    }

    &__inner {
      margin-bottom: 15px;

      .headline-items {
        display: flex;
        align-items: end;
      }
    }

    .headline-items {
      @include media-laptop {
        max-width: 100%;
      }

      @include media-tablet {
        max-width: 400px;
      }

      @include media-mobile {
        max-width: 260px;
      }

      @include media-mobile-horizontal {
        max-width: 250px;
      }
    }

    .headline-item {
      display: flex;
      align-items: flex-end;
      margin-right: 12px;

      @include media-mobile {
        margin-right: 3px;
      }

      @include media-mobile-horizontal {
        margin-right: 7px;
      }
    }
  }
}

.section-about {
  padding: 100px 0;

  &__inner {
    position: relative;
  }

  @include media-laptop {
    padding: 150px 0 50px;
    margin-top: -150px;
  }

  @include media-mobile {
    padding: 145px 0 55px;
    margin-top: -145px;
  }

  &__description {
    position: relative;
    z-index: 2;
    max-width: 700px;
    width: 100%;
    padding-right: 9%;
    margin-left: auto;

    @include media-laptop {
      padding-right: 0;
      max-width: none;
    }

    p {
      @include font-text;
      margin-bottom: 30px;

      @include media-laptop {
        margin-bottom: 20px;
      }

      @include media-mobile {
        margin-bottom: 20px;
      }
    }

    .button-default {
      margin-top: 25px;

      @include media-mobile {
        margin-top: 20px;
      }
    }
  }

  &__bg {
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    .backlight-bg {
      max-width: 400px;
      width: 100%;
      max-height: 400px;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      z-index: 1;
      animation: backlight 15s alternate infinite linear;
    }

    .sphere-bg {
      max-width: 32%;
      width: 100%;
      max-height: 645px;
      position: absolute;
      animation: sphere 15s alternate infinite linear;
    }
  }
}

.section-cards {
  padding: 100px 0 100px;

  @include media-laptop {
    padding: 100px 0 0;
    margin-top: -100px;
  }

  &__inner {
    @include media-laptop {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .title_basic {
      max-width: 750px;
    }

    .cards-services {
      display: flex;
      flex-wrap: wrap;
      gap: $gap-card;
    }

    .card-services {
      flex-basis: calc((100% / 2) - 10px);
      position: relative;

      @include media-tablet {
        min-height: 250px;
      }

      @include media-mobile {
        flex-basis: 100%;
      }

      &__inner {
        .card-services-wrapp {
          background-color: $main-color-bg;
          height: 100%;
        }

        .card-services-blur {
          display: flex;
          justify-content: space-between;
          height: 100%;
          padding: 40px 40px 45px;
          background: rgba(255, 255, 255, 0.05);

          @include media-laptop {
            padding: 40px 25px 25px;
          }
        }
      }

      .card-icon {
        position: relative;

        @include media-tablet {
          position: absolute;
        }
      }
    }

    .card-description {
      height: 100%;
      max-width: calc(100% - 140px);
      position: relative;
      z-index: 1;

      @include media-1366 {
        max-width: calc(100% - 120px);
      }

      @include media-laptop {
        width: 100%;
        max-width: calc(100% - 60px);
      }

      @include media-mobile-small {
        max-width: 100%;
      }
    }

    .card-services-0 {
      .card-icon {
        &::after {
          opacity: 0;
          @include card-icon-services;
          background: no-repeat url("./images/circle-within-circle-hover.svg")
            center center / contain;
        }

        &::before {
          @include card-icon-services;
          background: no-repeat url("./images/circle-within-circle.svg") center
            center / contain;
        }
      }
    }

    .card-services-1 {
      .card-icon {
        &::after {
          opacity: 0;
          @include card-icon-services;
          background: no-repeat url("./images/triangle-in-circle-hover.svg")
            center center / contain;
        }

        &::before {
          @include card-icon-services;
          background: no-repeat url("./images/triangle-in-circle.svg") center
            center / contain;
        }
      }
    }

    .card-services-2 {
      .card-icon {
        &::after {
          opacity: 0;
          @include card-icon-services;
          background: no-repeat url("./images/circle-in-square-hover.svg")
            center center / contain;
        }

        &::before {
          @include card-icon-services;
          background: no-repeat url("./images/circle-in-square.svg") center
            center / contain;
        }
      }
    }

    .card-services-3 {
      .card-icon {
        &::after {
          opacity: 0;
          @include card-icon-services;
          background: no-repeat url("./images/square-in-circle-hover.svg")
            center center / contain;
        }

        &::before {
          @include card-icon-services;
          background: no-repeat url("./images/square-in-circle.svg") center
            center / contain;
        }
      }
    }

    .card-title {
      color: $color-white;
      @include media-laptop {
        margin-bottom: 20px;
      }

      @include media-mobile-small-360 {
        font-size: 20px;
      }

      @include media-mobile-small {
        max-width: calc(100% - 60px);
      }
    }

    .card-text {
      max-width: 95%;

      @include media-mobile-small {
        max-width: 100%;
      }
    }

    .card-icon {
      width: 100%;
      max-width: 140px;
      max-height: 140px;

      @include media-1366 {
        max-width: 120px;
        max-height: 120px;
      }

      @include media-laptop {
        max-width: 100px;
        position: relative;
      }

      @include media-tablet {
        position: absolute;
        top: 25px;
        right: 25px;
        max-width: 60px;
        max-height: 60px;
        min-height: 60px;
        margin-left: auto;
      }

      @include media-mobile-small {
        max-width: 50px;
        max-height: 50px;
        min-height: 50px;
      }
    }
  }
}

.section-offers {
  padding: 100px 0;

  @include media-laptop {
    padding: 100px 0 0;
    margin-top: -100px;
  }

  &__inner {
    @include media-laptop {
      padding-top: 55px;
      padding-bottom: 45px;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $gap-card;
  }

  &__card {
    max-width: calc(33.3% - 20px);
    width: 100%;
    padding: 50px 40px 10px;
    position: relative;
    mix-blend-mode: normal;
    line-height: 1.75;
    @include blur-card;
    @include card-border;

    @include media-tablet {
      max-width: 100%;
    }

    @include media-laptop {
      padding: 40px 25px 30px;
    }

    @include media-mobile {
      width: 100%;
      margin-bottom: 20px;
    }

    &::before {
      content: "";
      background: url("./images/noise-card.png") center center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 5%;
      mix-blend-mode: overlay;
    }

    .card-title {
      color: $color-white;
      @include poppins;
      margin-bottom: 50px;

      @include media-laptop {
        margin-bottom: 30px;
      }
    }

    p {
      margin-bottom: 25px;

      @include media-laptop {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}

.section-numbers {
  padding: 70px 0;

  @include media-laptop {
    padding: 50px 0;
  }

  .title_basic {
    margin-bottom: 20px;
  }

  &__description {
    margin-bottom: 68px;
    font-size: 20px;

    @include media-mobile {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $gap-card;

    @include media-mobile {
      gap: 15px;
    }
  }

  &__card {
    max-width: calc(33% - 10px);
    width: 100%;
    min-height: 380px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-border-second;

    @include media-width-small {
      max-width: calc(33% - 20px);
    }

    @include media-laptop {
      padding: 20px;
      min-height: 30vh;
    }

    @include media-tablet {
      max-width: 100%;
    }

    @include media-mobile {
      padding: 55px 20px;
      min-height: auto;
    }
  }

  &__number {
    @include card-number;
    margin-bottom: 40px;

    span {
      @include card-number;
    }
  }

  &__text {
    @include card-text-second;
  }
}

.section-team {
  padding: 100px 0;

  @include media-laptop {
    padding-top: 50px;
    margin-top: -50px;
    padding-bottom: 0;
  }

  &__inner {
    @include media-laptop {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &__nav {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
  }

  .title_basic {
    max-width: 500px;
    line-height: 1.3;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    //margin: 0 -10px;

    @include media-mobile-horizontal {
      gap: 10px;
    }

    //@include media-mobile {
    //  //margin: 0 -10px;
    //  flex-wrap: nowrap;
    //}
  }

  &__card-team-name {
    display: block;
    @include card-team-name;
    margin-bottom: 12px;
    position: relative;
    z-index: 1;
  }

  &__card-team-position {
    display: block;
    @include card-team-position;
    position: relative;
    z-index: 1;
  }

  &__card-team-text {
    font-size: 12px;
    line-height: 1.3;
    position: relative;
    z-index: 1;
    padding-top: 20px;
    display: block;

    @include media-mobile {
      padding-top: 16px;
    }
  }

  &__card-team-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: end;
    gap: 15px;
    position: relative;
    z-index: 1;
    font-size: 25px;
    line-height: 1;
  }

  &__card-team-link {
    transition: opacity 0.3s;
  }

  .photo-cube-inner {
    overflow: hidden;

    .photo-cube-img-wrapp {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        object-fit: cover;
        width: 100%;
      }
    }
  }

  .swiper-about-team {
    .section-team__items {
      justify-content: start;
      //gap: 20px;
    }

    .section-team__items-wrapp {
      width: 333px;
      height: 333px;
      margin: 0;
      transform: translateY(120%) scale(0.99);

      @include media-1440 {
        width: 22.8vw;
        height: 22.8vw;
      }

      @media (min-width: 1366px) and (max-width: 1440px) {
        width: 21.26vw;
        height: 21.26vw;
      }
    }
  }
}

.section-contact {
  padding: 60px 0 95px;

  @include media-mobile {
    padding: 100px 0 50px;
  }

  .title {
    font-size: 72px;
    line-height: 1.11;

    @include media-laptop {
      font-size: 40px;
    }

    @include media-mobile {
      margin-bottom: 25px;
      font-size: 32px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 30px;

    @include media-width-small {
      align-items: end;
    }

    @include media-mobile {
      flex-direction: column-reverse;
      flex-wrap: wrap;
      gap: 70px;
    }
  }

  &__description {
    max-width: 49%;
    width: 100%;
    font-size: 20px;
    line-height: 1.6;

    @include media-width-small {
      max-width: 100%;
    }

    @include media-laptop {
      max-width: 40%;
    }

    @include media-tablet {
      max-width: 54%;
    }

    @include media-mobile {
      max-width: 100%;
      margin-top: -90px;
      font-size: 22px;
    }

    .btn-outline-primary {
      white-space: nowrap;
      color: $color-main;
      display: inline-block;
      border-bottom: 1px solid $color-hover;
    }

    .magnetic-link,
    .container-link {
      display: block;
    }

    a {
      font-family: 'Poppins', sans-serif;
      font-size: 25px;
      font-weight: 500;
      line-height: 1.52;
      text-transform: uppercase;
      margin-left: 16px;

      @include media-laptop {
        margin-left: 0;
      }
    }
  }

  &__phrase {
    @include media-mobile {
      font-size: 18px;
      line-height: 24px;
    }

    a {
      border: none;
      color: $color-main;
      display: inline-block;

      @include media-laptop {
        display: block;
        border: 1px solid $color-border-button;
        padding: 22px;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-top: 30px;
        color: $color-white;
        transition: color 0.5s ease-in;
        max-width: 400px;
      }

      @include media-tablet {
        max-width: none;
      }
    }
  }

  &__image-wrapp {
    max-width: 510px;
    max-height: 430px;

    @include media-width-small {
      max-width: 100%;
    }

    @include media-laptop {
      margin-left: auto;
      transform: translate(30%, 0);
    }

    @include media-mobile {
      max-width: 290px;
      margin-left: auto;
      transform: translate(30%, -50px);
    }
  }

  &__image {
    max-width: 510px;
    width: 100%;

    @include media-width-small {
      max-width: 42%;
    }

    @include media-tablet {
      max-width: 46%;
    }

    @include media-mobile {
      max-width: 290px;
      margin-left: auto;
    }
  }
}

// style for Mozilla Firefox
.body-firefox {
  background-color: $main-color-bg-second;

  .section-banner .halo {
    background: linear-gradient(180deg, aqua 0%, #2366b5 30%);
  }

  .section-about .circles-about .circle-about-big-wrapp .circle-about-big {
    background: -o-linear-gradient(240.88deg, #00ffff 10.92%, #2366b5 28.03%);
    background: -moz-linear-gradient(240.88deg, #00ffff 10.92%, #2366b5 28.03%);
    background: linear-gradient(209.12deg, #00ffff 10.92%, #2366b5 28.03%);
  }
}

.back-to-top {
  display: none;
  position: absolute;
  right: 0;
  top: -50px;
  transform: translateY(1px);
  @include montserrat;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: 50px;
  height: 50px;
  border: 1px solid $color-border-second;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 15px;

  @include media-laptop {
    display: flex;
  }

  span {
    display: inline-block;
    margin-right: 5px;
  }

  img {
    width: 7px;
    height: 9px;
  }
}

// style for page 404
.error404 {
  .body-wrapp,
  main {
    height: 100%;
  }
  .header {
    animation-delay: 0s;

    .header__navigation,
    .navigation-icon {
      display: none;
    }
  }

  .error-404 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    .title-not-found {
      @include font-title-not-found;
      margin-bottom: 50px;
    }

    .link-to-home {
      @include font-link-to-home;
      transition: color 0.3s;
    }
  }
}

//3d-cube in hero
.block-cube-small {
  position: fixed;
  right: 70px;
  bottom: 60px;
  z-index: 10;
  transition: transform 0.5s ease-in-out;

  .text-only {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0.03em;
    text-align: center;
    transform: rotateX(180deg) rotateY(180deg);
    @include media-mobile {
      font-size: 6px;
      line-height: 8px;
    }
  }

  .stage {
    width: 0;
    height: 0;
    margin: 20px auto;
    position: relative;
    -webkit-perspective: 1250px;
    -ms-perspective: 1250px;
    perspective: 1250px;
  }

  .stage .cube {
    width: 80px;
    height: 80px;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: rotate 20s infinite linear;
    animation: rotate 20s infinite linear;
    position: absolute;
    top: calc(50% - 80px);
    left: calc(50% - 80px);
    cursor: pointer;

    @include media-mobile {
      width: 60px;
      height: 60px;
      top: calc(50% - 50px);
      left: calc(50% - 24px);
    }
  }

  .stage .cube span {
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: $color-form-bg;
    border: 1px solid $color-main;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s linear;

    @include media-mobile {
      width: 50px;
      height: 50px;
    }
  }

  .stage .back {
    color: #f2f2f2;
    -ms-transform: rotateY(180deg) translateZ(35px);
    -webkit-transform: rotateY(180deg) translateZ(35px);
    transform: rotateY(180deg) translateZ(35px);
    @include media-mobile {
      -ms-transform: rotateY(180deg) translateZ(25px);
      -webkit-transform: rotateY(180deg) translateZ(25px);
      transform: rotateY(180deg) translateZ(25px);
    }
  }

  .stage .top {
    -ms-transform: rotateX(90deg) translateZ(35px);
    -webkit-transform: rotateX(90deg) translateZ(35px);
    transform: rotateX(90deg) translateZ(35px);
    @include media-mobile {
      -ms-transform: rotateX(90deg) translateZ(25px);
      -webkit-transform: rotateX(90deg) translateZ(25px);
      transform: rotateX(90deg) translateZ(25px);
    }
  }

  .stage .bottom {
    -ms-transform: rotateX(-90deg) translateZ(35px);
    -webkit-transform: rotateX(-90deg) translateZ(35px);
    transform: rotateX(-90deg) translateZ(35px);
    -webkit-backface-visibility: visible;
    -ms-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-box-reflect: none;
    @include media-mobile {
      -ms-transform: rotateX(-90deg) translateZ(25px);
      -webkit-transform: rotateX(-90deg) translateZ(25px);
      transform: rotateX(-90deg) translateZ(25px);
    }
  }

  .stage .left {
    -ms-transform: rotateY(-90deg) translateZ(35px);
    -webkit-transform: rotateY(-90deg) translateZ(35px);
    transform: rotateY(-90deg) translateZ(35px);
    @include media-mobile {
      -ms-transform: rotateY(-90deg) translateZ(25px);
      -webkit-transform: rotateY(-90deg) translateZ(25px);
      transform: rotateY(-90deg) translateZ(25px);
    }
  }

  .stage .right {
    -ms-transform: rotateY(90deg) translateZ(35px);
    -webkit-transform: rotateY(90deg) translateZ(35px);
    transform: rotateY(90deg) translateZ(35px);
    @include media-mobile {
      -ms-transform: rotateY(90deg) translateZ(25px);
      -webkit-transform: rotateY(90deg) translateZ(25px);
      transform: rotateY(90deg) translateZ(25px);
    }
  }

  .stage .front {
    -ms-transform: translateZ(35px);
    -webkit-transform: translateZ(35px);
    transform: translateZ(35px);

    @include media-mobile {
      -ms-transform: translateZ(25px);
      -webkit-transform: translateZ(25px);
      transform: translateZ(25px);
    }
  }

  @-webkit-keyframes rotate {
    0% {
      transform: rotateY(-65deg) rotateZ(26deg) rotateX(0);
    }

    100% {
      transform: rotateY(-65deg) rotateZ(26deg) rotateX(360deg);
    }
  }
}

//cookies
.block-cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  display: flex;
  transition: transform 0.6s;

  .main-size {
    margin: 0;
    padding: 0;
  }

  &__fake-block {
    background: rgba(5, 5, 6, 0.9);
    backdrop-filter: blur(12px);
    width: calc((100vw - 1440px) / 2);
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    gap: 15px;
    width: fit-content;
    padding: 40px 50px 40px 20px;
    background: rgba(5, 5, 6, 0.9);
    backdrop-filter: blur(12px);
    filter: drop-shadow(0px 0px 40px rgba(0, 158, 212, 0.1));
  }

  &__icon {
    width: 25px;
    height: 25px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    padding-right: 25px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $color-text;
  }

  &__link {
    color: #fff;
    text-decoration: underline;
    transition: color 0.3s;
  }

  &__button {
    color: $color-main;
    border: 1px solid $color-main;
    padding: 12px 35px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    cursor: pointer;
  }
}

//section accordion
.section-accordion {
  padding: 100px 0;

  @include media-laptop {
    padding: 50px 0;
  }

  .title {
    margin-bottom: 24px;
    //animation: main_animation_title 1.5s ease forwards;
  }

  &__wrapper {
    display: flex;
    gap: 30px;
    justify-content: space-between;

    @include media-width-small {
      flex-direction: column;
    }
  }

  &__text {
    align-self: flex-start;
    max-width: 505px;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
    position: sticky;
    top: 10rem;

    @include media-width-small {
      max-width: 100%;
      position: static;
    }

    @include media-mobile {
      font-size: 16px;
    }
  }

  &__rating {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
    color: $color-main;
    width: fit-content;

    @include media-laptop {
      margin-bottom: 38px;
    }

    @include media-mobile {
      display: flex;
    }
  }

  &__rating-inner,
  &__rating-image {
    transition: opacity 0.3s;
  }

  &__rating-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
  }

  &__rating-stars {
    position: relative;
    display: block;

    .rating-stars-color {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &__description {
    margin-bottom: 60px;
  }

  .accordion {
    width: 100%;
    max-width: 750px;

    @include media-width-small {
      max-width: 100%;
    }
  }
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;

  &__item {
    padding: 1px;
    overflow: hidden;

    &.active {
      .accordion__item-icon {
        transform: rotate(180deg);

        svg {
          stroke: $color-main;
        }
      }
    }
  }

  &__item-inner {
    display: flex;
    background-color: $main-color-bg;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 42px 30px 50px;
    cursor: pointer;
    transition: border-color 0.3s;
    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
    }

    &:after {
      z-index: -2;
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      background: $color-border-second;
    }

    &:before {
      z-index: -1;
      top: calc(-2px - 25%);
      bottom: calc(-2px - 25%);
      left: calc(-2px - 25%);
      right: calc(-2px - 25%);
      background: linear-gradient(141.8deg, #00ffff 14.44%, #01c4e5 86.47%);
      transform: translate(-100%, -100%);
      border-radius: 50%;
      transition: transform 0.7s linear;

      .active & {
        transform: translate(0, 0);
      }
    }

    @include media-mobile {
      padding: 20px 20px 20px 20px;
    }
  }

  &__item-title {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.52;
    color: #fff;

    @include media-mobile {
      font-size: 20px;
    }
  }

  &__item-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
    padding: 20px 0 26px;

    @include media-mobile {
      font-size: 14px;
    }
  }

  &__item-content {
    max-width: 590px;
    width: 100%;
  }

  &__item-description {
    display: none;
  }

  &__item-icon {
    height: 25px;
    margin-top: 10px;
    transition: transform 1s;

    @include media-mobile {
      margin-top: 0;
    }

    svg {
      transition: stroke 1s;
    }
  }
}

.grecaptcha-badge {
  right: auto !important;
  left: -99999px;
}
