.page-template-about {
  &.page {
    overflow: auto;
  }

  .body-wrapp {
    //padding-top: 145px;
    overflow: hidden;
    max-width: 100vw;
    position: relative;

    @include media-mobile {
      padding-top: 64px;
    }
  }

  p {
    margin: 0;
  }

  &.no-scroll {
    height: 100vh;
    overflow: hidden;
  }
}

.about-decorative-page {
  position: absolute;
  top: -0.5%;
  right: -6%;
  max-width: 745px;

  @include media-tablet {
    position: absolute;
    top: -1%;
    right: 42%;
    transform: translate(100%, 0);
  }

  @include media-mobile {
    top: -0.3%;
    left: -76%;
    max-width: 325px;
    transform: translate(100%, 0) rotate(332deg);
  }
}

.section-about-hero {
  padding-bottom: 20vh;

  @include media-height-1000 {
    padding-bottom: 100vh;
  }

  @include media-mobile {
    padding-bottom: 20vh;
  }

  @include media-laptop-horizontal {
    padding-bottom: 0;
    padding-top: 150px;
  }

  .title-large {
    animation: main_animation_title 1.5s ease 2s forwards;
  }

  &__text {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;

    @include main-animation-small;
    animation: main_animation 1.5s ease 3s forwards;

    @include media-mobile {
      font-size: 16px;
      line-height: 1.5;
    }
  }

  &__content {
    max-width: 730px;
    width: 100%;
    margin: 0 auto 0;
    //position: relative;
    //z-index: 2;
  }

  &__wrapper {
    position: absolute;
    top: 280px;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 2;

    @include media-mobile {
      top: 90px;
    }

    @include media-laptop-horizontal {
      position: static;
    }
  }

  &__media {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
    z-index: -1;

    @include media-laptop-horizontal {
      display: none;
    }
  }

  .lottie-people-inner {
    //height: 100vh;
    width: 180vh;

    @include media-height-900 {
      width: 100%;
    }

    @include media-height-700 {
      width: 100vw;
    }

    @include media-mobile {
      width: 180vh;
    }
  }

  .lottie-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $main-color-bg;
    transition: opacity 0.3s;
  }
}

.section-about-our-story {
  padding: 100px 0 200px;

  @include media-laptop {
    padding: 80px 0;
  }

  &.animation {
    .section-about-our-story__text {
      will-change: transform, opacity;
      transform: translate3d(0px, 2em, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 4deg);
      transform-style: preserve-3d;
      animation: main_animation 1.5s ease 1s forwards;
    }
  }

  &__bg {
    max-width: 950px;
    position: absolute;
    top: -39%;
    left: -124px;

    @include media-mobile {
      max-width: 700px;
      min-width: 700px;
      top: -278px;
      left: -326px;
      transform: rotate(105deg);
    }
  }

  .title {
    @include media-mobile {
      margin-bottom: 45px;
    }
  }

  &__content {
    max-width: 730px;
    width: 100%;
    margin: auto;

    @include media-tablet {
      padding-right: 0;
    }
  }

  &__text {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
    opacity: 0;
  }

  &__wrapper {
    position: relative;
  }
}


.section-our-values {
  position: relative;
  margin-bottom: -90vh;

  @include media-height-min-820 {
    margin-bottom: -50vh;
  }

  @include media-height-600 {
    margin-bottom: -120vh;
  }

  @include media-laptop {
    margin-bottom: 0;
  }

  &.animation {
    .section-our-values__item {
      @include media-laptop {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .section-our-values-scene-trigger-start {
    height: 5px;

    @include media-laptop {
      display: none;
    }
  }

  .our-values-fake-mask-parent {
    position: relative;
  }

  .our-values-fake-mask {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 0;
    background-color: $main-color-bg;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .title {
    padding-bottom: 20px;
    margin-bottom: 0;
    width: 100%;
    transition: all 0.3s;
    position: relative;
    z-index: 2;
    background-color: #020102;

    &.body-firefox {
      background-color: #060606;
    }

    @include media-mobile {
      padding: 26px 0 0;
      margin: 0;
    }
  }

  &__item-number {
    min-width: 150px;

    @include media-laptop {
      min-width: 60px;
    }

    .item-number {
      font-family: "Krona One", sans-serif;
      font-size: 80px;
      font-weight: 400;
      line-height: 1;
      text-align: center;
      background-image: linear-gradient(
                      141.8deg,
                      #00ffff 14.44%,
                      #01c4e5 86.47%
      );
      filter: grayscale(1);
      -webkit-background-clip: text;
      -webkit-text-stroke: 4px transparent;
      color: $main-color-bg;
      word-wrap: normal;

      @include media-laptop {
        font-size: 32px;
        filter: grayscale(0);
        padding-right: 5px;
      }
    }
  }

  &__items {
    display: flex;
    gap: 50px;
    align-items: start;
    position: relative;
    overflow: hidden;

    @include media-mobile {
      padding-top: 70px;
    }
  }

  &__items-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;

    @include media-laptop {
      display: none;
    }

    &:after, &:before {
      content: '';
      position: absolute;
      top: -1px;
      right: -50vw;
      left: -50vw;
      bottom: auto;
      background: linear-gradient(180deg, #020102 0%, rgba(2, 1, 2, 0) 100%);
      z-index: 1;
      height: 30%;
    }

    &:before {
      top: auto;
      bottom: 0;
      background: linear-gradient(180deg, rgba(2, 1, 2, 0) 0%, #020102 100%);
    }
  }

  &__item {
    max-width: 915px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    transition: opacity 0.6s;

    @include media-laptop {
      opacity: 0;
      transform: translateY(120%);
      transition: opacity 2s cubic-bezier(0.22, 0.17, 0, 0.98),
      transform 2s cubic-bezier(0.22, 0.17, 0, 0.98);
    }

    @include media-mobile {
      gap: 15px;
      min-width: calc(100vw - 30px);
    }
  }

  @for $i from 0 through 18 {
    .section-our-values__item:nth-child(#{$i}) {
      @include media-laptop {
        transition-delay: #{$i * 0.2 + 0.5}s;
      }
    }
  }

  &__items-list {
    @include media-laptop {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
    }
  }

  &__item-title {
    background-image: linear-gradient(141.8deg, cyan 14.44%, #01c4e5 86.47%);
    filter: grayscale(1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 15px;
    transition: all 0.3s;

    @include media-laptop {
      filter: grayscale(0);
    }
  }

  &__item-text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 40px;
    color: $color-grey;
    transition: all 0.3s;

    @include media-laptop {
      font-size: 14px;
      line-height: 1.57;
      margin-bottom: 25px;
      color: $color-text;
    }
  }

  &__content {
    max-width: 900px;
    width: 100%;
    margin: auto;
  }
}

.section-about-team {
  z-index: 2;

  .swiper-slide {
    width: fit-content;
  }

  .title {
    @include media-mobile {
      margin-bottom: 46px;
      line-height: 1.2;
    }
  }

  .section-team__items {
    .item-photo {
      @include media-mobile-380 {
        width: 100%;
      }
    }
  }

  .section-team__card-team-description {
    position: static !important;
  }

  .front-cube-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .front-cube-inner:hover {
    @include media-mobile {
      &:before {
        transform: translate(-100%, -100%) !important;
      }
    }
  }
}

.section-about-hq {
  @include media-mobile-horizontal {
    display: none;
  }

  &.animation {
    .section-about-hq__title {
      opacity: 1;
      transform: translateY(0);
    }

    .section-about-hq__interactive {
      opacity: 1;
    }

    .section-about-hq__interactive-wrapper {
      @include media-laptop {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 115px;
    margin-top: -50px;

    @include media-mobile {
      padding-top: 90px;
      margin-top: -20px;
    }
  }

  &__interactive-wrapper {
    position: relative;

    @include media-laptop {
      transform: translateY(100px);
      opacity: 0;
      transition: transform 1.5s cubic-bezier(0.22, 0.17, 0, 0.98),
      opacity 1.5s cubic-bezier(0.22, 0.17, 0, 0.98);
    }
  }

  &__interactive-height {
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;

    @include media-height-1000 {
      height: 100vh;
    }

    @include media-height-780 {
      max-width: 1200px;
    }

    @include media-mobile {
      height: 100%;
    }
  }

  &__interactive {
    flex: 1;
    width: 100%;
    margin: auto;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease 0.7s;

    .image-globe-active, .image-globe-active-dots {
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;

      @include media-laptop {
        opacity: 1;
      }
    }

    img {
      object-fit: contain;
    }

    .pin {
      width: 100px;
      height: 100px;
      opacity: 0;
      transition: none;

      @include media-laptop {
        opacity: 1;
      }

      @include media-mobile {
        width: 50px;
        height: 50px;
      }

      &__icon {
        width: 20px;
        height: 20px;
      }

      &__light {
        width: 20px;
        height: 20px;
      }

      .pin-bato {
        width: 10px;

        @include media-mobile {
          width: 7px;
        }
      }

      &__ellipse-small, &__ellipse-big {
        width: 100px;
        height: 100px;
      }

      img {
        object-fit: contain;
      }
    }

    .pin-fr {
      top: calc(42%);
      left: calc(9.5%);

      @include media-mobile {
        top: calc(41%);
        left: calc(6.5%);
      }

      @include media-mobile-500 {
        top: calc(41%);
        left: calc(6.5%);
      }
    }

    .pin-kh {
      top: 36%;
      right: 7%;

      @include media-laptop {
        top: 34%;
        right: 6%;
      }

      @include media-tablet {
        top: 33%;
        right: 5%;
      }

      @include media-mobile {
        top: 36%;
        right: 7%;
      }

      @include media-mobile-500 {
        top: 34%;
        right: 5%;
      }

      @include media-mobile-380 {
        top: 32%;
        right: 4%;
      }
    }
  }

  &__content {
    max-width: 885px;
    width: 100%;
    margin: 0 auto 60px;

    @include media-laptop {
      margin: 0 auto 40px;
    }
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.31;
    text-align: center;
    color: #fff;
    opacity: 0;
    transform: translateY(-30%);
    transition: opacity 1s linear, transform 1s linear;

    @include media-height-1000 {
      font-size: 3.2vh;
      max-width: 90vh;
      margin: auto;
    }

    @include media-mobile {
      font-size: 18px;
      line-height: 1.333;
    }
  }
}

.section-about-family {
  padding: 50px 0 100px;
  margin-bottom: -400px;

  @include media-height-1000 {
    padding: 200px 0 100px;
  }

  @include media-laptop {
    margin-bottom: 0;
    padding: 100px;
  }

  @include media-mobile {
    margin-bottom: 0;
    padding: 50px 0;
  }

  &.animation {
    .section-about-family__title {
      opacity: 1;
    }

    .section-about-family__images-column {
      will-change: transform, opacity;
      transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 4deg);
      transform-style: preserve-3d;
      animation: main_animation 1.5s ease  forwards;

      &:nth-child(1) {
        animation-delay: 0.7s;
      }

      &:nth-child(2) {
        animation-delay: 1s;
      }

      &:nth-child(3) {
        animation-delay: 1.3s;
      }
    }

    .family-images-mobile {
      .section-about-family__image {
        opacity: 1 !important;
        transform: translate(0, 0) !important;
      }
    }

  }

  &__title {
    text-align: center;
    opacity: 0;
    transition: opacity 0.7s ease 1s;
    transform: none;
    color: $color-white;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.45;
    margin-bottom: 50px;
    text-transform: uppercase;
    @include oswald;

    @include media-laptop {
      margin-bottom: 30px;
      font-size: 40px;
    }

    @include media-mobile {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 55px;
    }

    h2 {
      font-size: inherit;
      font-weight: inherit;
    }

    @include media-mobile {
      margin-bottom: 48px;
    }
  }

  &__images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    transform: translateY(-400px);
    @extend %sectionAboutHqMap;

    @include media-laptop {
      gap: 20px;
      transform: translateY(0);
    }

    &.family-images-desktop {
      @include media-mobile {
        display: none;
      }
    }

    &.family-images-mobile {
      display: none;

      @include media-mobile {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        transform: translateY(0);
      }

      @for $i from 0 through 9 {
        .image-#{$i} {
          @include media-mobile {
            transition: opacity .7s ease #{$i * 0.2 + 0.5}s, transform .7s ease #{$i * 0.2 + 0.5}s;
          }
        }
      }

      .section-about-family__image {
        &:nth-child(1) {
          transform: rotate(-5deg) translate(17vw, 7vw);

          @include media-laptop {
            transform: rotate(0) translate(0, 3rem);
            opacity: 0;
          }
        }

        &:nth-child(2) {
          transform: rotate(5deg) translate(-17vw, 7vw);
          @include media-laptop {
            transform: rotate(0) translate(0, 3rem);
            opacity: 0;
          }
        }

        &:nth-child(3) {
          transform: rotate(-5deg) translate(21vw, -39vw);
          @include media-laptop {
            transform: rotate(0) translate(0, 3rem);
            opacity: 0;
          }
        }

        &:nth-child(4) {
          transform: rotate(5deg) translate(-21vw, -40vw);
          @include media-laptop {
            transform: rotate(0) translate(0, 3rem);
            opacity: 0;
          }
        }

        &:nth-child(5) {
          transform: rotate(-5deg) translate(25vw, -86vw);
          @include media-laptop {
            transform: rotate(0) translate(0, 3rem);
            opacity: 0;
          }
        }

        &:nth-child(6) {
          transform: rotate(5deg) translate(-25vw, -87vw);
          @include media-laptop {
            transform: rotate(0) translate(0, 3rem);
            opacity: 0;
          }
        }

        &:nth-child(7) {
          transform: rotate(0deg) translate(0, -141vw);
          @include media-laptop {
            transform: rotate(0) translate(0, 3rem);
            opacity: 0;
          }
        }

        &.default-position {
          transform: rotate(0) translate(0, 0);
          @include media-laptop {
            transform: rotate(0) translate(0, 0);
          }
        }
      }
    }

    &.active {
      transform: translateY(0);

      .section-about-family__image {
        transform: translate(0%, 0%) rotate(0) !important;
      }

      .section-about-family__image-bg {
        background-color: rgba(0, 0, 0, 0.35) !important;
      }
    }
  }

  &__images-column {
    max-width: calc((100% - 100px) / 3);
    width: 400px;

    @include media-laptop {
      max-width: calc((100% - 40px) / 3);
      opacity: 0;
      will-change: transform, opacity;
      transform: translate3d(0px, 4em, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 4deg);
      transform-style: preserve-3d;
    }

    &:nth-child(1) {
      .section-about-family__image {
        &.image-0 {
          transform: translate(calc(100% + 50px), calc(50% + 50px)) rotate(2deg);

          @include media-laptop {
            //transform: translate(calc(100% + 20px), calc(50% + 20px));
            transform: translate(0, 0);
          }
        }
        &.image-1 {
          transform: translate(100%, -51%) rotate(-5deg);

          @include media-laptop {
            transform: translate(0, 0);
          }

        }
      }
    }

    &:nth-child(2) {
      .section-about-family__image {
        &.image-0 {
          transform: translate(0, calc(50% + 250px));

          @include media-laptop {
            //transform: translate(0, calc(50% + 17vw));
            transform: translate(0, 0);
          }
        }
        &.image-2 {
          transform: translate(0, calc(-50% - 250px));

          @include media-laptop {
            //transform: translate(0, calc(-50% - 17vw));
            transform: translate(0, 0);
          }
        }
      }
    }

    &:nth-child(3) {
      .section-about-family__image {
        &.image-0 {
          transform: translate(-100%, calc(50% + 50px)) rotate(5deg);

          @include media-laptop {
            //transform: translate(-100%, calc(50% + 20px)) rotate(5deg);
            transform: translate(0, 0);
          }
        }

        &.image-1 {
          transform: translate(calc(-100% - 50px), calc(-50% - 50px));

          @include media-laptop {
            //transform: translate(calc(-100% - 20px), calc(-50% - 20px));
            transform: translate(0, 0);
          }

          .section-about-family__image-bg {
            background-color: rgba(0, 0, 0, 0.35);
          }
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__images-column-inner {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @include media-laptop {
      gap: 20px;
    }
  }

  &__image {
    max-width: 400px;
    height: 400px;
    position: relative;
    //@extend %sectionAboutHqMap;

    @include media-laptop {
      height: auto;
    }

    @include media-mobile {
      width: calc((100vw - 40px) / 2);
      height: calc((100vw - 40px) / 2);
    }

    &:last-child {
      @include media-mobile {
        width: calc((100vw / 2) - 20px);
        height: calc((100vw / 2) - 20px);
      }
    }
  }

  &__image-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    @extend %sectionAboutHqMap;

    @include media-laptop {
      display: none;
    }
  }
}

.section-about-follow {
  padding: 200px 0;

  @include media-laptop {
    padding: 100px 0;
  }

  @include media-tablet {
    padding: 0 0 50px;
  }

  &.animation {
    .title {
      opacity: 1;
    }
  }

  .title {
    opacity: 0;
    line-height: 1.25;
    transition: opacity 0.7s ease 1s;

    @include media-mobile {
      margin-bottom: 25px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 130px;
    flex-wrap: wrap;

    @include media-laptop {
      gap: 50px;
    }

    @include media-tablet {
      gap: 0;
    }
  }

  &__image {
    max-width: 40.72%;
    height: 485px;
    width: 100%;
    opacity: 0;
    transition: opacity 2.5s ease;

    @include media-tablet {
      max-width: 100%;
    }

    @include media-mobile {
      transform: translate(-70px, -14px);
    }

    @include media-mobile-500 {
      margin-bottom: -50px;
    }

    @include media-mobile-horizontal {
      display: none;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @include media-mobile {
      gap: 16px;
    }
  }

  &__content {
    max-width: 500px;
  }

  &__link {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 2.5s ease;

    @include media-mobile {
      font-size: 12px;
    }

    a {
      color: $color-main;
      transition: color 0.3s, border-color 0.3s;
      border-bottom: 1px solid transparent;

      //&:hover {
      //  color: #fff;
      //  border-color: #fff;
      //}
    }
  }

  &.animation {
    .section-about-follow__image {
      opacity: 1;
    }

    .section-about-follow__link {
      opacity: 1;
    }
  }
}

.section-about-ready {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    padding: 100px 0;
    border-top: $color-border-second solid 1px;
    border-bottom: $color-border-second solid 1px;

    @include media-mobile {
      padding: 50px 0;
      gap: 20px;
    }
  }

  &.animation {
    .button-default {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .title {
    margin: 0;

    @include media-mobile {
      max-width: 260px;
    }
  }

  //.button-default {
  //  transform: translateY(-10%);
  //  opacity: 0;
  //  transition: opacity 0.7s ease 1s, transform 0.7s ease 1s, border-color 0.7s ease;
  //
  //  &:hover {
  //    border-color: $color-main;
  //  }
  //}
  //
  //.button-default__link {
  //  font-size: 19px;
  //}

  .button-big-color {
    padding: 5px 34px 5px 0;

    .button-default__link {
      font-size: 19px;
      color: $color-hover;
    }
  }
}

.custom-scrollbar {
  @include media-laptop {
    overflow: auto;
  }

  .scroll-content {
    @include media-laptop {
      display: flex;
      gap: 40px;
    }
  }
}

body.windows {
  .lottie-mask {
    background-color: $main-color-bg-windows;
  }
}

.body-safari {
  .card-services__inner {
    //&:hover .animation-no-wave {
    //  opacity: 0.7;
    //}
  }
}