.footer {
    padding: 0 0 65px;
    position: relative;

    @include media-laptop {
        position: relative;
        z-index: 2;
        background-color: $main-color-bg;
    }

    @include media-mobile {
        padding: 0 0 50px;
    }

    .logo-small {
        max-width: 90px;

        @include media-tablet {
            display: none;
        }
    }
}

.footer__inner {
    padding-top: 50px;
    border-top: solid 1px $color-border-second;

    @include media-tablet {
        padding-top: 40px;
    }

    @include media-mobile {
        padding-top: 30px;
    }
}

.footer__main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 25px;

    @include media-mobile {
        flex-direction: column;
        align-items: center;
    }
}

.footer-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px 65px;

    @include font-social-media;
    
    @include media-mobile {
        gap: 15px;

        a {
            font-size: 12px;
        }
    }
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include media-mobile {
        flex-direction: initial;
        gap: 15px;

        a {
            font-size: 12px;
        }
    }
}

/* footer-socials START */
.footer-socials {
    padding-top: 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.footer-socials__item {
    color: #fff;

    svg {
        transition: opacity 0.3s, transform 0.3s;
    }

    @include desktop-only {
        &:hover svg {
            opacity: 0.8 !important;
            transform: scale(0.9) !important;
        }
    }
}
/* footer-socials END */