.header {
  padding: 30px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  position: absolute;
  transition: opacity 1s linear;
  backdrop-filter: blur(0);
  box-shadow: 0 0 0 rgba(0,158,212,0.1);
  background: rgba(6,12,13,0);
  transform: translateY(-30px);
  opacity: 0;

  @include media-laptop {
    padding: 25px 0;
    border-bottom: 1px solid transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  &.bg-header {
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    border-bottom: 1px solid #333;
    background: rgba(6, 12, 13, 0.7);
  }

  &.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transform: translateY(0);
    //animation: visibleHeader 1s linear forwards;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    max-width: 120px;
    width: 100%;

    @include media-mobile {
      max-width: 100px;
    }

    img {
      object-fit: contain;
    }
  }

  &__navigation {
    transition: transform 1s cubic-bezier(0.74, -0.02, 0.24, 1.01), border 1.5s;
    will-change: transform;

    @include media-laptop {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
      padding: 25px;
      transform: translateY(-101%);
      border-bottom: 100vh solid $color-main;
    }

    @include media-mobile {
      padding: 15px;
    }

    @include media-mobile-horizontal {
      padding: 0;
    }

    &.no-transition {
      transition: none;
    }

    .menu-header-menu-container {
      @include media-laptop {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @include media-mobile-horizontal {
        overflow-y: scroll;
        height: 100vh;
        width: 100vw;
        align-items: start;
      }
    }

    .header-menu {
      display: flex;
      flex-wrap: wrap;

      @include media-laptop {
        flex-direction: column;
      }

      @include media-mobile-horizontal {
        padding: 70px 0;
      }

      @include montserrat;
      font-weight: 500;

      .menu-item {
        margin-left: 65px;
        @include font-nav;

        @include media-laptop {
          margin-left: 0;
          text-align: center;
          margin-bottom: 40px;
        }

        a {
          color: $color-nav;
          display: flex;

          @include media-laptop {
            display: block;
          }

          &[aria-current="page"] {
            color: $color-hover;
            .wave-item,
            .wave-item-clone {
              border-bottom: 1px solid $color-hover;
            }
          }
        }
      }
    }
  }

  .navigation-bar {
    display: none;

    @include media-laptop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: 30px;
      left: 25px;
      right: 25px;
    }

    @include media-mobile {
      left: 15px;
      right: 15px;
    }
    //
    //span {
    //  @include media-laptop {
    //    @include montserrat;
    //    display: inline-block;
    //    font-size: 12px;
    //    font-weight: 500;
    //    line-height: 12px;
    //    letter-spacing: 0.05em;
    //    margin-right: 5px;
    //    text-transform: uppercase;
    //  }
    //}

    .navigation-icon-close {
      @include media-laptop {
        display: flex;
        align-items: center;
      }

      svg {
        width: 22px;
        padding: 2px;
      }
    }
  }

  .navigation-icon {
    display: none;

    @include media-laptop {
      display: block;
    }
  }
}

.open-menu {
  transform: translateY(0);
  border-bottom: 0 solid $color-main;
}

.open-header-menu {
  height: 100vh;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  box-shadow: 0 10px 40px rgba(0, 158, 212, 0.1);
  background: rgba(6, 12, 13, 0.7);

  .navigation-icon {
    @include media-laptop {
      visibility: hidden;
    }
  }

  .logo {
    visibility: hidden;
  }

  .navigation-bar {
    .logo {
      visibility: visible;
    }
  }
}

.header-mobile-border {
  @include media-laptop {
    border-color: #333333;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    box-shadow: 0 10px 40px rgba(0, 158, 212, 0.1);
    background: rgba(6, 12, 13, 0.7);
  }
}

@keyframes visibleHeader {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}