.section-about {
  padding: 100px 0;

  &__inner {
    position: relative;
  }

  @include media-laptop {
    padding: 150px 0 50px;
    margin-top: -50px;
  }

  @include media-mobile {
    padding: 145px 0 55px;
    margin-top: -145px;
  }

  .title_about {
    @include media-mobile {
      margin-bottom: 45px;
    }
  }

  &__description {
    position: relative;
    z-index: 2;
    max-width: 700px;
    width: 100%;
    padding-right: 9%;
    margin-left: auto;

    @include media-laptop {
      padding-right: 0;
      max-width: none;
    }

    p {
      @include font-text;
      margin-bottom: 30px;

      @include media-laptop {
        margin-bottom: 20px;
      }

      @include media-mobile {
        margin-bottom: 20px;
      }
    }

    .button-default {
      margin-top: 25px;

      @include media-mobile {
        margin-top: 20px;
      }
    }
  }
}