.section-cards {
  padding: 100px 0 100px;

  @include media-laptop {
    padding: 100px 0 0;
    margin-top: -100px;
  }

  &__inner {
    @include media-laptop {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .title_basic {
      max-width: 750px;
    }

    .cards-services {
      display: flex;
      flex-wrap: wrap;
      gap: $gap-card;
    }

    .card-services {
      flex-basis: calc((100% / 2) - 10px);
      position: relative;

      @include media-tablet {
        min-height: 250px;
      }

      @include media-mobile {
        flex-basis: 100%;
      }

      &__inner {
        .card-services-wrapp {
          background-color: $main-color-bg;
          height: 100%;
        }

        .card-services-blur {
          display: flex;
          justify-content: space-between;
          height: 100%;
          padding: 40px 40px 45px;
          background: rgba(255, 255, 255, 0.05);

          @include media-laptop {
            padding: 40px 25px 25px;
          }
        }
      }

      .card-icon {
        position: relative;

        @include media-tablet {
          position: absolute;
        }
      }
    }

    .card-description {
      height: 100%;
      max-width: calc(100% - 140px);
      position: relative;
      z-index: 1;

      @include media-1366 {
        max-width: calc(100% - 120px);
      }

      @include media-laptop {
        width: 100%;
        max-width: calc(100% - 60px);
      }

      @include media-mobile-small {
        max-width: 100%;
      }
    }

    .card-services-0 {
      .card-icon {
        &::after {
          opacity: 0;
          @include card-icon-services;
          background: no-repeat url("./images/circle-within-circle-hover.svg")
            center center / contain;
        }

        &::before {
          @include card-icon-services;
          background: no-repeat url("./images/circle-within-circle.svg") center
            center / contain;
        }
      }
    }

    .card-services-1 {
      .card-icon {
        &::after {
          opacity: 0;
          @include card-icon-services;
          background: no-repeat url("./images/triangle-in-circle-hover.svg")
            center center / contain;
        }

        &::before {
          @include card-icon-services;
          background: no-repeat url("./images/triangle-in-circle.svg") center
            center / contain;
        }
      }
    }

    .card-services-2 {
      .card-icon {
        &::after {
          opacity: 0;
          @include card-icon-services;
          background: no-repeat url("./images/circle-in-square-hover.svg")
            center center / contain;
        }

        &::before {
          @include card-icon-services;
          background: no-repeat url("./images/circle-in-square.svg") center
            center / contain;
        }
      }
    }

    .card-services-3 {
      .card-icon {
        &::after {
          opacity: 0;
          @include card-icon-services;
          background: no-repeat url("./images/square-in-circle-hover.svg")
            center center / contain;
        }

        &::before {
          @include card-icon-services;
          background: no-repeat url("./images/square-in-circle.svg") center
            center / contain;
        }
      }
    }

    .card-title {
      color: $color-white;
      @include media-laptop {
        margin-bottom: 20px;
      }

      @include media-mobile-small-360 {
        font-size: 20px;
      }

      @include media-mobile-small {
        max-width: calc(100% - 60px);
      }
    }

    .card-text {
      max-width: 95%;

      @include media-mobile-small {
        max-width: 100%;
      }
    }

    .card-icon {
      width: 100%;
      max-width: 140px;
      max-height: 140px;

      @include media-1366 {
        max-width: 120px;
        max-height: 120px;
      }

      @include media-laptop {
        max-width: 100px;
        position: relative;
      }

      @include media-tablet {
        position: absolute;
        top: 25px;
        right: 25px;
        max-width: 60px;
        max-height: 60px;
        min-height: 60px;
        margin-left: auto;
      }

      @include media-mobile-small {
        max-width: 50px;
        max-height: 50px;
        min-height: 50px;
      }
    }
  }
}