.section-creative-space {
  padding: 100px 0;

  &.animation {
    .section-about-reviews__text, .section-creative-space__text, .section-creative-space__media {
      will-change: transform, opacity;
      transform: translate3d(0px, 2em, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 4deg);
      transform-style: preserve-3d;
      animation: main_animation 1.5s ease 0.7s forwards;
    }

    .section-creative-space__text {
      animation: main_animation 1.5s ease 1s forwards;
    }

    .section-creative-space__media {
      animation: main_animation 1.5s ease 1.2s forwards;
    }

    .section-creative-space__ball {
      animation: bounce 3s ease-out 1.5s forwards;
    }
  }

  .title {
    text-align: center;
    margin-bottom: 10px;
    opacity: 0;
    will-change: transform, opacity;
    transform: translate3d(0px, 3em, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 4deg);
    transform-style: preserve-3d;
  }

  &__text {
    max-width: 590px;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
    text-align: center;
    color: $color-text;
    margin: auto;
    opacity: 0;
    will-change: transform, opacity;
    transform: translate3d(0px, 3em, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 4deg);
    transform-style: preserve-3d;
  }

  &__media {
    height: 330px;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    opacity: 0;
    will-change: transform, opacity;
    transform: translate3d(0px, 3em, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 4deg);
    transform-style: preserve-3d;
  }

  &__ball {
    position: absolute;
    bottom: 30px;
    max-width: 120px;
    width: 100%;
    max-height: 120px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__logo_name {
    max-width: 100px;
    margin: 0 auto;
  }
}

@keyframes bounce {

  0% {
    transform: translateY(0) rotate(0deg);
  }

  8% {
    transform: translateY(-180px) rotate(0deg);
    animation-timing-function: ease-in;
  }

  16% {
    transform: translateY(0) rotate(0deg);
  }

  24% {
    transform: translateY(-120px) rotate(0deg);
    animation-timing-function: ease-in;
  }

  32% {
    transform: translateY(0) rotate(0deg);
  }

  40% {
    transform: translateY(-80px) rotate(0deg);
    animation-timing-function: ease-in;
  }

  48% {
    transform: translateY(0) rotate(0deg);
    animation-timing-function: ease-out;
  }

  56% {
    transform: translateY(-50px) rotate(0deg);
    animation-timing-function: ease-in;
  }

  62% {
    transform: translateY(0) rotate(0deg);
    animation-timing-function: ease-out;
  }

  70% {
    transform: translateY(-30px) rotate(0deg);
    animation-timing-function: ease-in;
  }

  76% {
    transform: translateY(0px) rotate(0deg);
    animation-timing-function: ease-out;
  }

  80% {
    transform: translateY(-20px) rotate(0deg);
    animation-timing-function: ease-in;
  }

  84% {
    transform: translateY(0px) rotate(0deg);
    animation-timing-function: ease-out;
  }

  86% {
    transform: translateY(-10px) rotate(0deg);
    animation-timing-function: ease-in;
  }

  88% {
    transform: translateY(0) rotate(0deg);
    animation-timing-function: ease-in-out;
  }

  90% {
    transform: translateY(-5px) rotate(0deg);
    animation-timing-function: ease-in;
  }

  92% {
    transform: translateY(0) rotate(0deg);
    animation-timing-function: ease-in-out;
  }
}