.section-creative-space {
  padding: 100px 0 200px;

  @include media-laptop {
    padding: 50px 0 100px;
  }

  @include media-tablet {
    padding: 50px 0 50px;
  }

  &.animation {
    .section-about-reviews__text, .section-creative-space__text, .section-creative-space__media {
      will-change: transform, opacity;
      transform: translate3d(0px, 2em, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 4deg);
      transform-style: preserve-3d;
      animation: main_animation 1.5s ease 0.7s forwards;
    }

    .section-creative-space__text {
      animation: main_animation 1.5s ease 1s forwards;
    }

    .section-creative-space__media {
      animation: main_animation 1.5s ease 1.2s forwards;
    }

    .section-creative-space__ball {
      animation: ball 1.4s infinite;
    }
  }

  .title {
    text-align: center;
    margin-bottom: 10px;
    opacity: 0;
    will-change: transform, opacity;
    transform: translate3d(0px, 3em, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 4deg);
    transform-style: preserve-3d;
  }

  &__text {
    max-width: 590px;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
    text-align: center;
    color: $color-text;
    margin: auto;
    opacity: 0;
    will-change: transform, opacity;
    transform: translate3d(0px, 3em, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 4deg);
    transform-style: preserve-3d;
  }

  &__media {
    height: 255px;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    opacity: 0;
    will-change: transform, opacity;
    transform: translate3d(0px, 3em, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 4deg);
    transform-style: preserve-3d;
  }

  &__ball-wrap {
    width: 65px;
    height: 65px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__ball {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    img {
      object-fit: unset;
      width: 100%;
      height: 100%;
    }
  }

  &__logo_name {
    max-width: 100px;
    margin: 0 auto;
  }
}

@keyframes ball {
  0%   { top: 6px; }
  5%   { top: 8px; }
  10%  { top: 12px; }
  15%  { top: 20px; }
  20%  { top: 38px; }
  25%  { top: 72px; }
  30%  { top: 100px; }
  35%  { top: 152px; }
  //40%  { top: 154px; height: 92%; width: 108%; transform: translateX(-4%); }
  //50%  { top: 176px; height: 60%; width: 144%; transform: translateX(-22%) }
  //55%  { top: 162px; height: 76%; width: 116%; transform: translateX(-8%) }
  //60%  { top: 138px; height: 96%; width: 104%; transform: translateX(-2%) }
  40%  { top: 154px; height: 92%; width: 108%;  }
  50%  { top: 176px; height: 60%; width: 144%; }
  55%  { top: 162px; height: 76%; width: 116%;  }
  60%  { top: 138px; height: 96%; width: 104%; }
  65%  { top: 110px; height: 100%; width: 100%; }
  70%  { top: 72px; }
  75%  { top: 38px; }
  80%  { top: 20px; }
  85%  { top: 12px; }
  90%  { top: 8px; }
  95%  { top: 5px; }
  100% { top: 5px; }
}
