.section-projects-hero {
  padding: 138px 0 100px 0;

  @include media-laptop {
    padding: 100px;
  }

  &__content {
    max-width: 820px;
    width: 100%;
    margin: 0 auto;

    @include media-mobile {
      margin-bottom: 0;
    }
  }

  .title {
    animation-delay: 1.8s;
  }

  &__text {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
    opacity: 0;
    animation: main_animation_title 1.5s ease forwards 2.8s;

    @include media-mobile {
      font-size: 16px;
      line-height: 1.5;
    }

    p {
      margin-bottom: 0;
    }
  }
}