.section-about-reviews {
  @include media-tablet {
    padding: 50px 0;
  }
  
  &__pin-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 90px;

    @include media-laptop {
      position: static;
    }
  }

  .main-size {
    margin-top: 0;
  }

  .section-about-reviews__wrapper {
    display: flex;
    flex-direction: column;
  }

  &.animation {
    .section-about-reviews__text {
      will-change: transform, opacity;
      transform: translate3d(0px, 2em, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 4deg);
      transform-style: preserve-3d;
      animation: main_animation 1.5s ease 0.7s forwards;
    }

    .section-about-reviews__rating {
      opacity: 1;

      &-inner,
      &-image {
        transition: 0.3s;
      }
    }

    .reviews-items {
      opacity: 1;
    }
  }

  .title {
    text-align: center;
    margin-bottom: 20px;

    @include media-height-700 {
      margin-bottom: 10px;
    }

    @include media-mobile {
      margin-bottom: 24px;
    }
  }

  &__rating-image {
    @include media-height-700 {
      height: 25px;
    }

    @include media-mobile {
      height: 30px;
    }
  }

  .section-about-reviews__text {
    max-width: 590px;
    width: 100%;
    font-size: 20px;
    line-height: 1.6;
    opacity: 0;
    text-align: center;
    margin: 0 auto 45px;

    @include media-height-800 {
      margin: 0 auto 20px;
    }

    @include media-height-700 {
      font-size: 16px;
    }

    @include media-mobile {
      line-height: 1.55;
      margin: 0 auto 40px;
    }
  }

  .section-about-reviews__rating {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.7s ease 1.2s;
    margin: 0 auto 45px;

    @include media-height-800 {
      margin: 0 auto 20px;
    }

    @include media-mobile {
      margin: 0 auto 38px;
    }
  }

  .section-about-reviews__rating-number {
    background: linear-gradient(141.8deg, #00FFFF 14.44%, #01C4E5 86.47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }

  .reviews-items {
    opacity: 0;
    transition: opacity 0.7s ease 1s;

    @include media-laptop {
      position: absolute;
      left: -9999px;
      top: -9999px;
    }

    @include media-height-550 {
      position: absolute;
      left: -9999px;
    }
  }

  .reviews-slider {
    max-width: 700px;
    margin: auto;

    @include media-mobile {
     max-width: 100%;
    }

    @media screen and (min-width: 1025px) {
      position: absolute;
      left: -9999px;
    }

    @include media-height-550 {
        position: static;
    }

    .swiper-slide {
       @include media-laptop {
         max-width: 700px;
         height: auto;
       }
    }

    .reviews-slider__scrollbar {
      width: 700px;
      max-width: 100%;
      background-color: darkgrey;
      margin: 15px auto 0;
      height: fit-content;
      border-radius: 6px;

      div {
        background: cyan;
        height: 3px;
      }
    }
  }

  .section-about-reviews__rating-inner,
  .section-about-reviews__rating-image {
    transition: opacity 0.3s;
  }

  .section-about-reviews__rating-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .section-about-reviews__rating-stars {
    position: relative;
    display: block;

    .rating-stars-color {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .section-about-reviews__item {
    max-width: 700px;
    width: 100%;
    margin: auto;
    padding: 1px;
    position: relative;
    background: linear-gradient(
      180deg,
      #b9b9b9 0%,
      rgba(102, 102, 102, 0) 100%
    );

    @include media-height-800 {
      max-width: 800px;
    }

    @include media-laptop {
      height: 100%;
    }

    &:not(:last-child) {
      position: absolute;
      top: 0;
      transform: translateY(100vh);
      left: 0;
      right: 0;
      z-index: 1;

      @include media-laptop {
        position: static;
        transform: translateY(0);
      }
    }

    &:first-child {
      transform: translateY(0);
    }

    &:last-child {
      transform: translateY(100vh);
      z-index: 1;

      @include media-laptop {
        position: static;
        transform: translateY(0);
      }
    }

    .reviews-item-bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        180deg,
        #06ffff 0%,
        rgba(6, 255, 255, 0) 133.17%
      );
    }

    .section-about-reviews__item-content {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      //height: 45vh;
      padding: 45px;
      background-color: $main-color-bg;
      position: relative;

      @include media-height-800 {
        padding: 35px;
      }

      @include media-height-700 {
        padding: 20px;
      }

      @include media-laptop {
        display: flex;
        height: 100%;
      }

      @include media-mobile {
        padding: 25px 15px;
      }
    }

    .quotation-mark {
      flex: 0 0 auto;
      display: block;
      font-family: "Montserrat", sans-serif;
      font-size: 80px;
      font-weight: 600;
      line-height: 1;
      text-align: center;
      color: $color-main;
      height: 40px;
      margin: 0 auto 32px;

      @include media-height-800 {
        margin: 0 auto 20px;
      }

      @include media-height-700 {
        margin: 0 auto 0;
        font-size: 60px;
      }

      @include media-mobile {
        font-size: 50px;
        margin: 0 auto -3px;
      }
    }
  }

  .section-about-reviews__item-text {
    flex: 1;
    display: block;
    font-family: "Poppins", sans-serif;
    max-width: 560px;
    width: 100%;
    overflow-y: auto;
    font-weight: 300;
    line-height: 1.7;
    text-align: center;
    margin: 0 auto 32px;

    @include media-height-800 {
      margin: 0 auto 20px;
    }

    @include media-height-700 {
      font-size: 14px;
    }
    
    @include media-laptop {
      font-size: 15px;
    }

    @include media-tablet {
      font-size: 14px;
    }

    @include media-mobile {
      line-height: 1.57;
      margin-bottom: 15px;
    }

    .scroll-content {
      margin: 0 5px;
    }
  }

  .section-about-reviews__item-name {
    display: block;
    padding-top: 30px;
    border-top: 1px solid $color-text;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    color: $color-main;

    @include media-height-800 {
      font-size: 18px;
      padding-top: 20px;
    }

    @include media-laptop {
     margin-top: auto;
    }

    @include media-mobile {
      padding-top: 15px;
    }
  }
}