.section-team {
  padding: 100px 0;

  @include media-laptop {
    padding-top: 50px;
    margin-top: -50px;
    padding-bottom: 0;
  }

  &__inner {
    @include media-laptop {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &__nav {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
  }

  .title_basic {
    max-width: 500px;
    line-height: 1.3;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    //margin: 0 -10px;

    @include media-mobile-horizontal {
      gap: 10px;
    }

    //@include media-mobile {
    //  //margin: 0 -10px;
    //  flex-wrap: nowrap;
    //}
  }

  &__card-team-name {
    display: block;
    @include card-team-name;
    margin-bottom: 12px;
    position: relative;
    z-index: 1;
  }

  &__card-team-position {
    display: block;
    @include card-team-position;
    position: relative;
    z-index: 1;
  }

  &__card-team-text {
    font-size: 12px;
    line-height: 1.3;
    position: relative;
    z-index: 1;
    padding-top: 20px;
    display: block;

    @include media-mobile {
      padding-top: 16px;
    }
  }

  &__card-team-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: end;
    gap: 15px;
    position: relative;
    z-index: 1;
    font-size: 25px;
    line-height: 1;
  }

  &__card-team-link {
    transition: opacity 0.3s;
  }

  .photo-cube-inner {
    overflow: hidden;

    .photo-cube-img-wrapp {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        object-fit: cover;
        width: 100%;
      }
    }
  }

  .swiper-about-team {
    .section-team__items {
      justify-content: start;
      //gap: 20px;
    }

    .section-team__items-wrapp {
      width: 333px;
      height: 333px;
      margin: 0;
      transform: translateY(120%) scale(0.99);

      @include media-1440 {
        width: 22.8vw;
        height: 22.8vw;
      }

      @media (min-width: 1366px) and (max-width: 1440px) {
        width: 21.26vw;
        height: 21.26vw;
      }
    }
  }
}