.section-team {
  padding: 100px 0;

  @include media-laptop {
    padding-top: 50px;
    margin-top: -50px;
    padding-bottom: 0;
  }

  @include media-mobile {
    margin-top: -30px;
  }

  &__inner {
    @include media-laptop {
      padding-top: 50px;
    }

    @include media-mobile {
      padding-bottom: 50px;
    }
  }

  &__nav {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
  }

  .title_basic {
    max-width: 500px;
    line-height: 1.3;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    @include media-mobile-horizontal {
      gap: 10px;
    }
  }

  &__card-team-name {
    display: block;
    @include card-team-name;
    margin-bottom: 12px;
    position: relative;
    z-index: 1;
  }

  &__card-team-position {
    display: block;
    @include card-team-position;
    position: relative;
    z-index: 1;
  }

  &__card-team-text {
    font-size: 12px;
    line-height: 1.3;
    position: relative;
    z-index: 1;
    padding-top: 20px;
    display: block;

    @include media-mobile {
      padding-top: 16px;
    }
  }

  &__card-team-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: end;
    gap: 15px;
    position: relative;
    z-index: 1;
    font-size: 25px;
    line-height: 1;
  }

  &__card-team-link {
    transition: opacity 0.3s;
  }

  .photo-cube-inner {
    overflow: hidden;

    .photo-cube-img-wrapp {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        object-fit: cover;
        width: 100%;
      }
    }
  }
}